<h1> Helping Remember </h1>
<h2> ~ Keeping Memories Alive ~ </h2>
    <div>
        
            <a href="registrations/signup"> Sign Up </a>
            <br>
             <br>
            <p> or </p>
            <a href="sessions/login"> Log In </a>
    </div>