  <br>
<h1> Helping Remember...</h1>
  <h2>where memories are kept alive!</h2>
    <h3>Please Login!</h3>

      <form class="" action="/login" method="post">
        <label for="email">Email:</label>
        <input type="text" name="email" value="" id="email">
        <label for="password">Password:</label>
        <input type="password" name="password" value="" id="password">
        <input type="submit" name="" value="Login">
      </form>
  <br>
<h5>Don't have an account? <a href="/signup"> Signup Here </h5>