<h1> Helping Remember...</h1>
<h2>where memories are kept alive!</h2>
    
    
<h3> Login </h3>
    <form action="/login" method="POST"> 
    
        <label for="email"><strong> Email: * </strong></label><br>
        <input type="text" name="email" value="" required ><br><br>
    
        <label for="password"><strong> Password: * </strong></label><br>
        <input type="password" name="password" value="" required>  <br>
        <h6> *Fields are Required</h6>
        <br>
       <input class="btn btn-info" type="submit" value="Login">
    </form>
       
    <br>
    <br>
<h5>Don't have an account? <a href="/users/signup"> Signup </h5>