<h1> Your Profile</h1>

<br>
<h1> Welcome <%= @user.username %></h1>

<h3>Your Memories</h3>
<br>
<br>
<%@user.memories.each do |mem|%>
<h4> <a href="/memories/<%= mem.id%>"> <%= mem.title%> </a></h4>
<%= mem.image_url%>
<br>
<br>
<%end%>