<h1>Create a Memory!</h1>

<form class="" action="/memories" method="post">
    <label for="title"> Title: </label>
        <input type="text" id="title" name="title">
        <br>
        <br>
    <label for="description"> Description: </label>
        <textarea name="description" id="description" ></textarea>
        <br>
        <br>
    <label for="date"> Date:</label>
        <input type="text" id="date" name="date">
        <br>
        <br>
    <label for="image_url">Image Link: </label>
        <input type="text" id="image_url" name="image_url">
        <br>
        <br>
    <label for="category_id"> Category: </label>
        <input type="radio" name="Family"> Family <br>
        <input type="radio" name="Hobbies" > Hobbies <br>
        <input type="radio" name="Travel" > Travel <br>
        
        
        
        
        
    <br>
    <input type="submit" value="Create a Memory">
</form>

