<h1>Create a Memory!</h1>

<form class="" action="/memories" method="post">
    <label for="title"> Title: </label>
        <input type="text" id="title" name="title">
        <br>
        <br>
    <label for="description"> Description: </label>
        <textarea name="description" id="description" ></textarea>
        <br>
        <br>
    <label for="date"> Date:</label>
        <input type="text" id="date" name="date">
        <br>
        <br>
    <label for="image_url">Image Link: </label>
        <input type="text" id="image_url" name="image_url">
        <br>
        <br>
    <label for="category_id"> Category: (select one) </label><br>
        <%@category.each do |cate|%>
        <%# <input type="radio"  name="category_id" value="2">  Family <br> %>
        <%# <input type="radio"  name="category_id" value="1"> Hobbies <br> %>
        
        <input type="radio" name="cate.category_id" value="cate.name == category_id"> <%=cate.name%> <br>
        <%end%>
    <br>
    <input type="submit" value="Create a Memory">
</form>

