<h1> Your Memories</h1>
<%# <%= user.username %>
<%# Here the user can do the following
click view all memories
create a new memory
or logout %>


<%@memory.each do |mem|%>
<h3> <a href="/memories/<%= mem.id%>"> <%= mem.title%> </a></h3>
<%= mem.image_url%>
<%end%>

<br>
<br>


