<h1>Insert the form to edit an instance of your model here.</h1>
 <p> Category: <%= if @memory.category_id == 1
                    "Hobbies"
                    elsif @memory.category_id == 2 
                    "Family"
                    elsif @memory.category_id == 4 
                    "Travel"
                    elsif @memory.category_id == 7
                    "Medical History"
                    elsif @memory.category_id == 10 
                    "Pets"
                    elsif @memory.category_id == 11 
                    "Bucket List"
                    elsif @memory.category_id == 12 
                    "Friends"
                    elsif @memory.category_id == 13 
                    "Careers"
                    elsif @memory.category_id == 14 
                    "Places You Lived"
                    elsif @memory.category_id == 15
                    "School Age Years"
                    elsif @memory.category_id == 16 
                    "Mid Life Years"
                    elsif @memory.category_id == 18 
                    "Retirement Years"
                    else 
                    "A category was not selected."
                    end%> </h5>
    </p>

     <label for="category_id"> Category: (select one) </label><br>
        <input type="radio"  name="category_id" value="11"> Bucket List <br>
        <input type="radio"  name="category_id" value="13"> Careers <br>
        <input type="radio"  name="category_id" value="17"> Elderly Years <br>
        <input type="radio"  name="category_id" value="2"> Family <br>
        <input type="radio"  name="category_id" value="12"> Friends <br>
        <input type="radio"  name="category_id" value="1"> Hobbies <br>
        <input type="radio"  name="category_id" value="7"> Medical History <br>
        <input type="radio"  name="category_id" value="16"> Mid Life Years <br>
        <input type="radio"  name="category_id" value="10"> Pets <br>
        <input type="radio"  name="category_id" value="14"> Places You Lived <br>
        <input type="radio"  name="category_id" value="15"> School Age Years <br>
        <input type="radio"  name="category_id" value="4"> Travel <br>