<h1>Create a Category!</h1>

<form class="" action="/categories" method="post">
    <label for="name"> Name: </label>
        <input type="text" id="name" name="name">
        <br>
        <br>
    
    <br>
    <input type="submit" value="Create a Category">
</form>


