<br>
        <h1> Helping Remember </h1>
        <h2> ~ Keeping Memories Alive ~ </h2>
<br>
    <div>
        
            <a href="/signup"> Sign Up </a>
                        <br>
                        <br>
                <p> or </p>
            <a href="/login"> Login </a>
    </div>